.root{
	position:absolute;
	width:100%;
	height:100%;
	min-height:500px;
	min-width:700px;
	margin:0 auto;
	top:0;
	left:0;
	overflow:hidden;
}

.top-row{
	position:absolute;
	width:100%;
	height:90px;
	background:#a1a3a6;
	top:0;
	left:0;

	display: -webkit-flex;
	display: flex;
	align-items: center;
}
.main-scope{
	position:absolute;
	width:100%;
	min-height:500px;
	top:90px;
	bottom:0;
}

.function-view{
	position:absolute;
	padding-left:20px;
	width:180px;
	height:100%;
	background:#f6f5ec;
	top:0;
	left:0;

	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	/*align-items: flex-start;*/
}
.canvas{
	position:relative;
	margin:0 200px;
	height:100%;
	overflow:hidden;
}
.detail-view{
	position:absolute;
	width:200px;
	height:100%;
	background:#d5c59f;
	top:0;
	right:0;

	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

/*------------------------------------*/

.logo-title{
	position:relative;
	white-space:nowrap;
	/*font-family:"Comic Sans MS", cursive, sans-serif;*/
	font-family:"Times", cursive, sans-serif;
	font-weight:600;
	font-size:60px;
	/*color:#eb532c;*/
	
}

.group{
	transition:.3s;
	background:#f6f5ec;

	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.group-title{
	background:#ffe5bc;
}

.component{
	padding:0 2px;
	border: 2px solid;
	border-radius:20px;
}


.component:hover{
	background:#faa755;
	transition:.3s;
}

.component:active{
	background:#f6f5ec;
	transition:.1s;
}

.node{
	position:absolute;
	padding:0 2px;
	border: 2px solid;
	border-radius:20px;
}

.node:hover{
	background:#faa755;
	transition:.3s;
}

.node:active{
	background:#f6f5ec;
	transition:.1s;
}

.circle{
	position:absolute;
	border-radius:5px;
	border-color:black;
	border-style:solid;
	border-width:2px;
	background:white;
	width:5px;
	height:5px;

}

.circle:hover{
	border-width:3px;
}

.line{
	stroke-width: 2px;
	stroke:rgb(99,99,99);
}

.line:hover{
	stroke-width: 4px;
}

.param-border{
	width:100%;

	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.param-key{
	white-space:nowrap;
}

.param-value{
}

.button{
	width:50px;
	height:20px;
}
/*-------------------*/
.noselect{
	-webkit-touch-callout: none;
	-webkit-user-select:none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select:none;
}

