html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.primnav{
  height:100%;
  position:absolute;
  width:200px;
  background-color:#007ee6;
}

.primnav > ul {
  height:100%;
  overflow-x:hidden;
  overflow-y:auto;
}
.primnav li .tag{
  background-color:#005aa3;
  background-color:rgba(0,112,204,0.8);
  color:rgba(255,255,255,0.8);
  color:#e6e6e6;
  border-radius:2em;
}
.primnav li a {
  position:relative;
  display:-webkit-box;
  display:flex;
  display:-ms-flexbox;
  -webkit-box-align:center;
  align-items:center;
  white-space:nowrap;
  color:white;
  color:rgba(255,255,255,0.8);
  text-decoration:none;
}
.primnav li:hover, .primnav expand:hover {
  background-color:#66a9e0;
  background-color:rgba(0,112,204,0.6);
}


.main-scope{
  margin-left:200px;
}
.canvas{
  position:absolute;
}
#svg{
  opacity:1;
  position:absolute;
}
/*--------- detail -------------------*/
.detail-bound{
  position:absolute;
  right:3px;
  width:200px;
  height:100%;
  background:white;
}
.detail-view{
  position:relative;
  width:200px;
  min-height:100px;
  top:0px;
  right:3px;
  border-style:double;
  border-width:3px;
  border-color:black;
}
.detail-top{
  border-style:solid;
  border-width:1px;
  border-color:black;
}
.detail-table{
}
.data-view{
  position:relative;
  min-height:100px;
  bottom:0px;
  border-style:double;
  border-width:3px;
  border-color:black;
}
.data-top{
}
.data-table{
}
#data-box {
  position:fixed;
  right:20px;
  bottom:20px;
  z-index:1;
  max-width:500px;
  min-width:180px;
  overflow-y:auto;
  overflow-x:auto;
}





/*------------------------------------*/
ul b{
  font-size:15px;
  color:black;
}

ul ul b{
  font-size:10px;
  color:black;
  padding-left:5px;
}

.component{
  padding:0 2px;
  /*border: 2px solid;*/
  border-radius:20px;
  display: inline-block;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /*margin: 2px;*/
  margin-left:10px;
  padding-left: 5px;
  padding-right: 5px;
}


.component:hover{
  background:#faa755;
  transition:.3s;
}

.component:active{
  background:#E67E22;
  transition:.1s;
}

.node{
  background-color:rgb(255,255,255);
  position:absolute;
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid;
  border-radius:20px;
  border-color: rgb(80,80,80);
  color: rgb(80,80,80);
}

.node:hover{
  border-width:3px;
  transition:.1s;
}

.circle{
  position:absolute;
  border-radius:8px;
  border-color:rgb(80,80,80);
  border-style:solid;
  border-width:2px;
  background:white;
  width:8px;
  height:8px;
}

.circle:hover{
  border-width:3px;
}

.line{
  stroke-width: 2px;
  stroke:rgb(99,99,99);
}

.line:hover{
  stroke-width: 4px;
}

.param-border{
  width:100%;

  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.param-key{
  white-space:nowrap;
  margin: 2px;
}

.param-value{
  margin: 2px;
}

/*-------------------*/
.noselect{
  -webkit-touch-callout: none;
  -webkit-user-select:none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select:none;
}

