html {
  font-family: 'Lato', sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
}

input.hamburger {
  display: none;
}
input.hamburger:checked ~ label > i {
  background-color: transparent;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
input.hamburger:checked ~ label > i:before {
  -webkit-transform: translate(-50%, -50%) rotate(315deg);
  transform: translate(-50%, -50%) rotate(315deg);
}
input.hamburger:checked ~ label > i:after {
  -webkit-transform: translate(-50%, -50%) rotate(-315deg);
  transform: translate(-50%, -50%) rotate(-315deg);
}
input.hamburger:checked ~ label close {
  color: #222;
  width: 100%;
}
input.hamburger:checked ~ label open {
  color: rgba(0, 0, 0, 0);
  width: 0;
}

label.hamburger {
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
}
label.hamburger:hover {
  cursor: pointer;
}
label.hamburger text close,
label.hamburger text open {
  text-transform: uppercase;
  font-size: .8em;
  align-text: center;
  position: absolute;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  text-align: center;
  overflow: hidden;
  -webkit-transition: width .25s .35s, color .45s .35s;
  transition: width .25s .35s, color .45s .35s;
}
label.hamburger text close {
  color: rgba(0, 0, 0, 0);
  right: 0;
  width: 0;
}
label.hamburger text open {
  color: #222;
  width: 100%;
}
label.hamburger > i {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  background-color: #222;
  pointer-events: auto;
  -webkit-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-delay: .35s;
  transition-delay: .35s;
}
label.hamburger > i:before, label.hamburger > i:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 50%;
  background-color: #222;
  content: "";
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
label.hamburger > i:before {
  -webkit-transform: translate(-50%, -14px);
  transform: translate(-50%, -14px);
}
label.hamburger > i:after {
  -webkit-transform: translate(-50%, 14px);
  transform: translate(-50%, 14px);
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.primnav li:hover, .primnav expand:hover {
  background-color: #66a9e0;
  background-color: rgba(0, 112, 204, 0.6);
}

.primnav {
  position: absolute;
  height: 58px;
  width: 200px;
  font-size: .8em;
  text-transform: uppercase;
  background-color: #007ee6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: height 246ms .5s ease;
  transition: height 246ms .5s ease;
  padding-top: 58px;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 650px) {
  .primnav {
    height: 100vh;
    width: 58px;
    -webkit-transition: width 246ms .5s ease;
    transition: width 246ms .5s ease;
  }
}
.primnav > ul {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.primnav li {
  font-weight: 400;
  position: relative;
}
.primnav li .tag {
  background-color: #005aa3;
  background-color: rgba(0, 112, 204, 0.8);
  color: rgba(255, 255, 255, 0.8);
  color: #e6e6e6;
  color: rgba(255, 255, 255, 0.9);
  padding: 0 .5em;
  border-radius: 2em;
  margin-left: auto;
  margin-right: .75em;
}
.primnav li a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  color: white;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
.primnav .icon {
  height: 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 20px;
  padding: 19px;
  margin-right: 5px;
  padding-bottom: 15px;
  color: #e6e6e6;
  color: rgba(255, 255, 255, 0.9);
}

.secnav {
  margin-left: 63px;
  border-left: 1px solid black;
  border-left-color: #0065b8;
  border-left-color: rgba(0, 112, 204, 0.9);
  overflow: hidden;
}
.secnav li {
  color: #e6e6e6;
  color: rgba(255, 255, 255, 0.9);
  max-height: 100px;
  -webkit-transition: max-height .1s;
  transition: max-height .1s;
}
@media (min-width: 650px) {
  .secnav li {
    max-height: 0px;
    -webkit-transition: max-height .5s .5s;
    transition: max-height .5s .5s;
  }
}
.secnav li a {
  text-transform: initial;
  display: block;
  color: inherit;
  padding: .75em 10px;
}

content {
  font-family: 'Pacifico', cursive;
  color: rgba(255, 255, 255, 0.9);
  font-size: 8vw;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0070cc;
  height: 100%;
  padding-top: 58px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
@media (min-width: 650px) {
  content {
    padding-left: 58px;
    padding-top: 0;
  }
}


/**
    SCROLLBAR STYLE FOR IE
    */
    body {
      scrollbar-base-color: #0070cc;
      scrollbar-3dlight-color: #fff;
      scrollbar-highlight-color: #0070cc;
      scrollbar-track-color: #0070cc;
      scrollbar-arrow-color: #0070cc;
      scrollbar-shadow-color: #0070cc;
      scrollbar-dark-shadow-color: #0070cc;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }
